@model List<ProductModel>
@using MercadoSocial.Enums
@{                                          
    ViewData["Title"] = "Produtos";
}

<link rel="stylesheet" href="~/css/product.css" />

                                      
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-primary position-relative d-flex align-items-center justify-content-center popUp-section"  role="alert">
            <button type="button" class="btn btn-secondary btn-sm close-alert" aria-label="Close">X</button>
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErroMessage"] != null)
    {
        <div class="alert alert-danger position-relative  d-flex align-items-center popUp-section" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        </div>
    }



<div class="container-sm my-lg-5" style="position: relative;">


     
    <div class="my-lg-5">
        <h1>Página de Produtos</h1>
    </div>

    <div>
        <a class="btn btn-outline-info" role="button" asp-controller="Product" asp-action="Create">Criar produto</a>
        <a class="btn btn-info" role="button" asp-controller="Product" asp-action="AddProduct">Adicionar Produto</a>
    </div>


        <div class="my-3" style="width: 20%;">
            <label for="filter" class="form-label">Filtrar por Seção</label>
            <select class="form-select" id="filterSection" name="filter">
                <option value="" selected disabled>Todos</option>
                <option value="@SecaoEnum.Cereais">Cereais</option>
                <option value="@SecaoEnum.Bebidas">Bebidas</option>
                <option value="@SecaoEnum.Padaria">Padaria</option>
                <option value="@SecaoEnum.Enlatados">Enlatados</option>
                <option value="@SecaoEnum.Biscoitos">Biscoitos</option>
                <option value="@SecaoEnum.Laticinios">Laticínios</option>
                <option value="@SecaoEnum.ProdutoLimzepa">Produto de Limpeza</option>
                <option value="@SecaoEnum.HigienePessoal">Higiene Pessoal</option>
                <option value="@SecaoEnum.Hortifrut">Hortifrút</option>
            </select>
        </div>



    <div class="mt-5 d-flex flex-row align-content-center justify-content-center 
         flex-wrap gap-5 py-4 rounded-md box-shadow shadow-lg rounded-md"
         style="background-color: #eee"
         id="containerProducts">

        @if(Model != null && Model.Any())
        {
            foreach(ProductModel product in Model)
            {
               <div class="card position-relative" style="width: 18rem;">
                    @if (!string.IsNullOrEmpty(product.ImageBase64))
                    {
                        <img src="data:image/png;base64,@product.ImageBase64"
                             class="card-img-top activeModalProduct"
                             alt="imagem-produto"
                             style="height: 14rem; cursor: pointer;" 
                             id='@product.Id'
                        >
                    }

                   <div class="card-body">

                       <div class="d-flex align-content-center justify-content-between">
                         <h5 class="card-title">@product.Name</h5>
                            <p class="text-dark fs-6 text-center">
                                Total
                               <span class="text-info">@product.Quantity</span>
                           </p>
                       </div>

                        <p class="card-text">@product.Description</p>
                     <a href="#" class="btn btn-primary">Adicionar a Cesta</a>
                   </div>
              </div>                
            }    
        }
     </div>


     <div class="containerModalProduct hide">
         <div class="modalProduct">

         </div>
     </div>


</div>